.aside {
	position: fixed;
	width: 270px;
	top: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 10;
	transition: .3s ease-out;
	left: -270px;
}

.aside-backdrop {
	position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
	z-index: 9;
	background-color: rgba(0, 0, 0, .5);
	display: none;
}

.aside-inner {
	width: 100%;
	height: 100%;
	position: relative;
}

	.aside-logo {
		width: 100%;
		padding: 20px;
		text-align: center;
		background-color: rgb(25, 40, 63);
	}

		.aside-logo > img {
			width: 60px;

		}

		.aside-list {

		}

			.aside-list__item {
				list-style: none;
				font-size: 20px;
				padding: 15px;
				border-bottom: 1px solid #eee;
				color: rgba(0, 0, 0, .74);

			}

			.aside-button {
				position: absolute;
				padding: 15px 0;
				text-align: center;
				width: 150px;
				bottom: 20px;
				left: calc(50% - 75px);
				background-color: rgb(255, 49, 80);
				border: none;
				border-radius: 20px;
				color: #fff;

			}